.lorem-ipsum-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
}

.header-app {
  height: 10rem;
}

.header-app__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-app__title {
  font-size: 3rem;
  text-align: center;
}

.lorem-ipsum {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.lorem-ipsum__form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.lorem-ipsum__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.lorem-ipsum__label {
  padding: 1rem;
  font-size: 1.8rem;
}

.lorem-ipsum__input {
  max-width: 8rem;
  max-height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1rem;
  border: 0.1rem solid var(--black-color);
}

.lorem-ipsum__btn-generate {
  font-size: 1.5rem;
  border: 0.1rem solid var(--black-color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  cursor: pointer;
  color: var(--white-color);
  width: fit-content;
}

.lorem-ipsum__paragraphs {
  width: 75%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}


