@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

img{
    max-width: 100%;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #fafafa;
}


.header-container{
    height: 10rem;
}
    .header-center{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
        .header-center h1{
            font-size: 3rem;
            text-align: center;
        }

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}        

.section-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

    .article-center{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

        .article-center-div{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

            .article-center-div p{
                padding: 1rem;
                font-size: 1.8rem;
            }

            .article-center-div input{
                max-width: 8rem;
                max-height: 3rem;
                font-size: 1.5rem;
                text-align: center;
                border-radius: 1rem;
                border: 0.1rem solid #000;
            }

        .article-center button{
            font-size: 1.5rem;
            border: 0.1rem solid rgb(0, 0, 0);
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
            background-color: #09f;
            border-radius: 1rem;
            cursor: pointer;
            color: #fff;
            width: fit-content
        }   

    .article-center-generate{
        width: 50%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

        .article-center-generate p{
            padding: 1rem;
        }